<!DOCTYPE html>
<!-- This 'DOCTYPE' declaration defines the document & version correctly for the browser to display.-->
<html>
<head>
  <meta charset="UTF-8">
    
        <title>Risha Shetty - {%block title%}{%endblock%} Base HTML Templates</title>

        <link rel="stylesheet" href="/style/newstyle.css"/>
    {% block head %}
    {%endblock%}
</head>
<body>
  <header>
    WEB DEVELOPMENT USING GAE
  </header>
    <div id="sidebar1">
        {%block sidebar%} {%endblock%}
    </div> 
    <div id="contentblock">
        <div>
        {%block content%} {%endblock%}
        </div>
    </div>
    <div id="sidebar2">
        {%block form%}
        {%endblock%}
    </div>
</body>
</html>
